// img.photo(src="/images/tanya.jpg", alt="Tanya Broslawsky")

- var paths = Object.keys(sectionConfig).map(function(key) {
- 	return sectionConfig[key].iterable ? sectionConfig[key].path : undefined;
- }).filter(function(path) { return path !== undefined; });

h2 New Stuff
each sectionKey in paths
	- var section = sections[sectionKey]
	- var numPages = Object.keys(section.pages).length
	if numPages
		div.section.clearfix
			h3 #{section.title}

			- var maxPages = 5
			- var rPages = Object.keys(section.pages).map(function(i) { return section.pages[i]; })
			- var pages = Array.prototype.slice.call(rPages,0,maxPages)

			ul
				each page, pageKey in pages
					li
						a.title(href=page.absUrl) #{page.title}
						span.timestamp - #{moment(page.fileData.modified).fromNow()}
			if rPages.length > maxPages
				a.more(href=sectionKey) more...