
<div class="container">
	<div class="head-text">
		<h1 class="head-text-highlight">Blog</h1>
</div>

<div class="container">
	<div class="row">
		<div class="masonry isotopeContainer">

			{{#each stories}}
			<div class="col-md-4 masonry-row col-sm-6" data-url="{{preview.url}}">
				{{#if preview.image}}
				<a href="{{preview.url}}"><img src="{{preview.image}}" alt=""></a>
				{{!-- <img src="{{preview.image}}" alt=""> --}}
				{{else}}
				<a href="{{preview.url}}" class="medium-date">
					<div class="medium-date-day">{{view.date}}</div>
					<div class="medium-date-month">{{view.month}}, {{view.year}}</div>
				</a>
				{{/if}}
				
				<div class="masonry-content">
					<a href="{{preview.url}}">{{name}}</a>
					<p class="spot ellipsis-readmore">{{preview.sanitized}} <a href="{{preview.url}}" class="more">»</a></p>
					<div class="links">
						<span>{{view.fulldate}}</span>
					</div>
				</div>
			</div>
			{{/each}}

		</div>
	</div>
</div>

<ul class="about-social">
	<li><a href="https://www.linkedin.com/in/broslawsky" target="_blank"><i class="fa fa-linkedin"></i></a></li>
	<li><a href="https://www.twitter.com/nbroslawsky" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a href="https://www.github.com/nbroslawsky" target="_blank"><i class="fa fa-github"></i></a></li>
	<li><a href="/blog.rss" target="_blank"><i class="fa fa-rss"></i></a></li>
</ul>