{{#if errorFetchingData}}

<section class="post-fluid">
	<div class="container-fluid">
		<div class="row laread-404">
			<div class="icon-box">
				<span class="icon-404"><i class="fa fa-unlink"></i></span>
			</div>
			<div class="info-404">
				<h2>Well, crap.</h2>
				<p class="text-404">Looks like there's a problem with our blog right now. But don't worry, I'm on the case, and I'll have this content back for you in no time at all.</p>
			</div>
		</div>
	</div>
</section>

<ul class="about-social">
	<li><a href="https://www.linkedin.com/in/broslawsky" target="_blank"><i class="fa fa-linkedin"></i></a></li>
	<li><a href="https://www.twitter.com/nbroslawsky" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a href="https://www.github.com/nbroslawsky" target="_blank"><i class="fa fa-github"></i></a></li>
	<li><a href="/blog.rss" target="_blank"><i class="fa fa-rss"></i></a></li>
</ul>

{{else}}

{{#section 'head'}}
	<meta property="og:title" content="{{story.name}} - Nathan Broslawsky" />
	<meta property="twitter:title" content="{{story.name}}" />
	<meta property="og:url" content="https://www.nathanbroslawsky.com{{story.preview.url}}" />
	<meta property="og:image" content="{{story.preview.image}}" />
	<meta property="og:description" content="{{story.preview.sanitized}}" />
	<meta property="og:type" content="article" />
	<meta property="og:site_name" content="Nathan Broslawsky" />

	<meta property="article:publisher" content="https://www.nathanbroslawsky.com" />
	<meta property="article:author" content="Nathan Broslawsky" />
	<meta property="article:published_time" content="{{story.first_published_at}}" />

	<link rel="canonical" href="https://www.nathanbroslawsky.com{{story.preview.url}}" />
{{/section}}

<div class="container">
	<div class="head-text text-highlight">
		<h1>{{story.name}}</h1>
	</div>
</div>

<div class="post-fluid">
	<div class="container-fluid">
		<div class="container">
			<div class="row post-items">
				<div class="col-md-2">
					<div class="post-item-short">
						<span class="big-text">{{story.view.date}}</span>
						<span class="small-text">{{story.view.month}} {{story.view.year}}</span>
					</div>
				</div>
				<div class="col-md-10">
					<div class="post-item post-item-detail">

						<div class="post-item-paragraph">
							{{#story.content}}
								{{> (lookup . 'component') }}
							{{/story.content}}
						</div>
						<div class="post-item-paragraph">
							{{> signup }}
						</div>
						<div class="post-item-paragraph">
		                	<!-- Go to www.addthis.com/dashboard to customize your tools -->
		                	<div class="addthis_inline_share_toolbox"></div>
						</div>
					</div>
					{{#if readMore}}
					<div class="next-prev-post clearfix">
						{{#if readMore.prev}}
						<div class="post-direction">
							<a href="{{readMore.prev.preview.url}}" class="post-prev">
								<span class="post-way"><i class="fa fa-angle-left"></i> prev post</span>
								<span class="title">{{readMore.prev.name}}</span>
							</a>
						</div>
						{{else}}
						<div class="post-direction">
						</div>
						{{/if}}

						{{#if readMore.next}}
						<div class="post-direction">
							<a href="{{readMore.next.preview.url}}" class="post-next">
								<span class="post-way">next post <i class="fa fa-angle-right"></i></span>
								<span class="title">{{readMore.next.name}}</span>
							</a>
						</div>
						{{else}}
						<div class="post-direction">
						</div>
						{{/if}}
					</div>
					{{/if}}

				</div>

			</div>

		</div>

	</div>

</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d22608ab3d006f4"></script>

{{/if}}